<div class="food-card">
  <div class="food-card-header">
    {{food_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    <p>
      Customer:
      {{Customer_name}}
    </p>
  </div>
</div>